<div class='card'>
<p><%= params[:question].capitalize %></p>
<p class='signature'> -You </p>
</div>

<div class='card'>
<p ><%= @answer %></p>
<p class='signature'> -Stupid coach</p>
</div>

<a href=''><%= link_to 'Ask a new question', root_path %><a>
