<div class='chat-card'>
<p><%= params[:question].capitalize %></p>
<p class='signature'> -You </p>
</div>

<div class='chat-card'>
<p ><%= @answer %></p>
<p class='signature'> -Coach</p>
</div>

<a href=''><%= link_to 'Ask a new question', root_path %><a>
