<form action="/answer">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="question" value="<%= params[:question] %>" placeholder="Ask Something">
    <div class="input-group-append">
      <input type="submit" class="btn btn-primary btn-sm" value="Ask to Coach!">
    </div>
  </div>
</form>
